literature/CausalRepresentationLearning/Nonlinear_Invariant_Risk_Minimization-A_Causal_Approach_Lu_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/CausalRepresentationLearning/Causal_inference_using_invariant_prediction-identification_and_confidence_intervals_Jonas_Peters_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/EfficientSelectionOfProcessMiningAlgorithms2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/RealCause-Realistic_Causal_Inference_Benchmarking_Neal_Huang_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Applied_Causal_Inference_Chernozhukov_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/eells_probabilistic_causality_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/hausman_causal_asymmetries_Hausman_Book_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/Counterfactuals-lewis-1973.pdf filter=lfs diff=lfs merge=lfs -text
literature/Neural_Causal_Models_For_Counterfactual_Identification_And_Estimation_Xia_Bareinboim_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Probability_and_Causality_PhD_Thesis_Otte_1982.pdf filter=lfs diff=lfs merge=lfs -text
literature/ProcessMiningManifesto.pdf filter=lfs diff=lfs merge=lfs -text
literature/Statistics_and_Causality_Methods_for_Applied_Empirical_Research_selected_works_WileyAndSonds_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/JudeaPearl-ProbabilisticReasoninginIntelligentSystems_1988.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Lectures_on_Concurrency_and_Petri_Nets_Advances_in_Petri_Nets_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Making-Things-Happen-A-Theory-of-Causal-Explanation-Woodward-2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/The_book_of_why_the_new_science_of_cause_and_effect_Pearl_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/cement-of-the-universe-a-study-of-causation-JL-Mackie-1980.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/eells_probabilistic_causality_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/hausman_causal_asymmetries_Hausman_Book_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Counterfactuals-lewis-1973.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Counterfactuals_and_Causal_Inference_Models_and_Principles_for_Social_Research_Morgan_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/ElementaryInductionOfAbstractStructuresMoschovakis1974.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/the-direction-of-time-hans-reichenbach-ucal-press-1971.pdf filter=lfs diff=lfs merge=lfs -text
literature/ModelChecking/Handbook_of_Model_Checking__Edmund_Clarke_Thomas_Henzinger_Helmut_Veith_Roderick_Bloem.pdf filter=lfs diff=lfs merge=lfs -text
literature/ModelChecking/huges_cresswell_modal_logic.pdf filter=lfs diff=lfs merge=lfs -text
literature/ModelChecking/ElementaryInductionOfAbstractStructuresMoschovakis1974.pdf filter=lfs diff=lfs merge=lfs -text

